@tailwind base;
@tailwind components;
@tailwind utilities;

.no-transition * {
    transition: none !important;
}

.question-content img,
.ck-editor__editable_inline img {
    max-width: 100%;
    height: auto;
}

.question-content figure.image,
.ck-editor__editable_inline figure.image {
    max-width: 100%;
}
